
table.jCalendar {
	border: 1px solid #383838;
	background: #aaa;
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
}
table.jCalendar th {
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #ececec));
	background-image: -webkit-linear-gradient(#f5f5f5, #ececec);
	background-image: -moz-linear-gradient(#f5f5f5, #ececec);
	background-image: -o-linear-gradient(#f5f5f5, #ececec);
	background-image: linear-gradient(#f5f5f5, #ececec);
	border-color: #BBBBBB;
	border-style: none none solid none;
	border-width: medium medium 1px medium;
	color: #666666;
	font-weight: normal;
	padding: 3px 5px;
	text-shadow: 0 1px 0 white;
}

table.jCalendar td {
	background-color: #E7E7E7;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #E7E7E7), color-stop(100%, #D9D9D9));
	background-image: -webkit-linear-gradient(#E7E7E7, #D9D9D9);
	background-image: -moz-linear-gradient(#E7E7E7, #D9D9D9);
	background-image: -o-linear-gradient(#E7E7E7, #D9D9D9);
	background-image: linear-gradient(#E7E7E7, #D9D9D9);
	border-color: #BBBBBB;
	border-style: none none solid solid;
	border-width: medium medium 1px 1px;
	-webkit-box-shadow: 1px 1px 0 white inset;
	-moz-box-shadow: 1px 1px 0 white inset;
	box-shadow: 1px 1px 0 white inset;
	color: #666666;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	text-shadow: 0 1px 0 white;
}
table.jCalendar td.other-month {
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #ececec));
	background-image: -webkit-linear-gradient(#f5f5f5, #ececec);
	background-image: -moz-linear-gradient(#f5f5f5, #ececec);
	background-image: -o-linear-gradient(#f5f5f5, #ececec);
	background-image: linear-gradient(#f5f5f5, #ececec);
	color: #B0B0B0;
}
table.jCalendar td.today {
	text-decoration: underline;
}
table.jCalendar td.selected {
	background-color: #66B1C4;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66B1C4), color-stop(100%, #58A1B2));
	background-image: -webkit-linear-gradient(#66B1C4, #58A1B2);
	background-image: -moz-linear-gradient(#66B1C4, #58A1B2);
	background-image: -o-linear-gradient(#66B1C4, #58A1B2);
	background-image: linear-gradient(#66B1C4, #58A1B2);
	border-color: #54838B;
	-webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2) inset;
	box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2) inset;
	color: #FFFFFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}
table.jCalendar td.selected.dp-hover, table.jCalendar td.selected:hover
{
	background: #f33;
	color: #FFFFFF;
}
table.jCalendar td.dp-hover,
table.jCalendar td:hover,
table.jCalendar tr.activeWeekHover td {
	background: #fff;
	color: #000;
}
table.jCalendar tr.selectedWeek td {
	background-color: #66B1C4;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66B1C4), color-stop(100%, #58A1B2));
	background-image: -webkit-linear-gradient(#66B1C4, #58A1B2);
	background-image: -moz-linear-gradient(#66B1C4, #58A1B2);
	background-image: -o-linear-gradient(#66B1C4, #58A1B2);
	background-image: linear-gradient(#66B1C4, #58A1B2);
	border-color: #54838B;
	-webkit-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2) inset;
	box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.2) inset;
	color: #FFFFFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}
table.jCalendar td.disabled, table.jCalendar td.disabled:hover, table.jCalendar td.disabled.dp-hover {
	background: #fefefe;
	color: #bbb;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #fefefe;
	color: #bbb;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #eee;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 171px;
	line-height: 1.2em;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	background-color: #383838;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3A3A3A), color-stop(100%, #373737));
	background-image: -webkit-linear-gradient(#3A3A3A, #373737);
	background-image: -moz-linear-gradient(#3A3A3A, #373737);
	background-image: -o-linear-gradient(#3A3A3A, #373737);
	background-image: linear-gradient(#3A3A3A, #373737);
	border: 1px solid #393939;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.3);
	color: #E0E0E0;
	font-size: 11px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	margin: 0;
	padding: 5px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #E0E0E0;
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	padding: 5px 2px 0;
	text-decoration: none;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}
